<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Take Order</h3>
  </div>
  <div class="modal-body">
    <div class="well pull-center">
     <%=form_for @order do |f| %>
     <%=f.select :coff_id, Coff.all.collect {|x| [x.name + "(" + x.price.to_s + "฿)", x.id]} %>
     <br />
     <%=f.submit "Send Order", :class => 'btn' %>
     <%end%>
   </div>
 </div>
</div>