<h4> 
Welcome : <%= @user.email %> 
</h4>

    <!-- Button to trigger modal -->
   <div class="pull-right">
    <a href="#myModal" role="button" class="btn btn-primary btn-larg" data-toggle="modal"><i class="icon-plus"></i>Take Order</a>
    <a href="history" role="button" class="btn btn-larg"><i class="icon-folder-open"></i>History</a>
    </div>

<%= render 'take_order' %>
<%= render 'order_new' %>

